{% comment %} {% extends "base.html" %}

{% block content %} {% endcomment %}
<h2>{% if object %}Edit{% else %}Create{% endif %} Inven</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.number.label_tag }}
        {{ form.number }}
        {% if form.number.errors %}
            <div class="invalid-feedback d-block">{{ form.number.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.tag_colour.label_tag }}
        {{ form.tag_colour }}
        {% if form.tag_colour.errors %}
            <div class="invalid-feedback d-block">{{ form.tag_colour.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.breed.label_tag }}
        {{ form.breed }}
        {% if form.breed.errors %}
            <div class="invalid-feedback d-block">{{ form.breed.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.sex.label_tag }}
        {{ form.sex }}
        {% if form.sex.errors %}
            <div class="invalid-feedback d-block">{{ form.sex.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.birth_date.label_tag }}
        {{ form.birth_date }}
        {% if form.birth_date.errors %}
            <div class="invalid-feedback d-block">{{ form.birth_date.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.weight.label_tag }}
        {{ form.weight }}
        {% if form.weight.errors %}
            <div class="invalid-feedback d-block">{{ form.weight.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.status.label_tag }}
        {{ form.status }}
        {% if form.status.errors %}
            <div class="invalid-feedback d-block">{{ form.status.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.arrival.label_tag }}
        {{ form.arrival }}
        {% if form.arrival.errors %}
            <div class="invalid-feedback d-block">{{ form.arrival.errors }}</div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.location.label_tag }}
        {{ form.location }}
        {% if form.location.errors %}
            <div class="invalid-feedback d-block">{{ form.location.errors }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'Inven-list' %}" class="btn btn-outline-secondary">Cancel</a>
</form>
{% comment %} {% endblock %} {% endcomment %}
